@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* On enregistre tes couleurs pour pouvoir faire <div className="bg-baby-pink"> */
  --color-baby-blue: #A1C9F2;
  --color-baby-pink: #F7B7D1;

  /* On garde le reste du mapping automatique de shadcn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  /* On garde les rayons pour les arrondis mignons */
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
}

:root {
  /* Ton bleu devient la couleur "Primary" par défaut du site */
  --primary: 210 79% 79%; 
  --primary-foreground: 0 0% 100%;
  
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --border: oklch(0.929 0.013 255.508);
  --radius: 1rem; /* On rend les coins bien ronds */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}